<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/blog/news">Blog</a></li>
        <li><a href="/contacts">Contacts</a></li>
        <li><a href="/user">Login</a></li>
    </ul>
</nav>